@media screen and (max-width: 768px) {
  #side-nav {
    display: none;
  }

  #doc-content {
    margin-left: 0 !important;
  }

  #top {
    position: relative !important;
  }

  table.doxtable {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  div.contents {
    padding: 8px 16px;
  }

  .memproto, .memdoc {
    overflow-x: auto;
  }
}
